/**** ABOUT ****/

#about-image-container {
  display: flex;
  align-items: center;
  background-color: black;
  width: 900px; /* Set the width to 900px */
  margin: 0 auto; /* Center the element horizontally */
}

#about-image {
  max-width: 50%;
  margin-right: 2rem;
}

#about-info {
  font-size: 1.2rem;
  line-height: 1.5;
  color: white;
  font-family: "avneir next", sans-serif;
}

#about {
  margin: auto;
}

/**** CONTACT ****/

#contact {
  position: bottom;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  text-align: center;
  padding: 20px 0;
  color: white;
  font-family: "avneir next", sans-serif;
  font-size: 1.2rem;
}

#contact-container {
  max-width: 960px;
  margin: 0 auto;
}

#github-icon {
  width: 50px;
  height: 50px;
  background-color: black;
}

/**** HOME ****/

body {
  background-color: black;
}

#home-image {
  display: block;
  margin: auto;
}
/**** NAV ****/

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* background-color: rgba(0, 0, 0, 0); Transparent background */
  background-color: white;
  position: sticky;
  top: 0;
  color: black;
  font-family: "avneir next", sans-serif;
  border-bottom: 1px solid black;
}
.nav-button {
  margin: 0 1rem;
}

#button-container {
  display: flex;
  justify-content: center;
}

#logo p {
  font-size: 1.5rem;
  font-weight: bold;
}

#logo {
  z-index: 999;
  display: flex;
  margin-right: auto; /* Pushes the button-container to the right */
}

/**** PROJECTS ****/

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  font-family: "avneir next", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: auto;
  width: 900px;
}

#westy-rentals-vid {
  display: flex;
  align-items: center;
  justify-content: center;
}

#westy-rentals-gif {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

#westy-rentals-vid > div {
  flex: 1;
}
